* {
    box-sizing: border-box;
    font-family: helvetica, arial;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
}

/* BUTTON STYLING */
button {
    border: none;
    border-radius:  10px;
    margin: 5px;
    cursor:  pointer;
    padding: 5px 15px;
    outline: none;
}

button.primary {
    background: #2CA0B6;
    color: #FFFFFF;
}
button.primary:hover,
button.primary:focus {
    background: #0B89A1;
}

button.secondary {
    background:  #f2f2f2;
}
button.secondary:hover,
button.secondary:focus {
    background: #e7e7e7;
}

button.tertiary {
    background: transparent;
}
button.tertiary:hover,
button.tertiary:focus {
    background: #f2f2f2;
}

/* INPUT CONTAINER STYLING */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    position: relative
  }
  
  .input-container input {
    position: absolute;
    z-index: 1;
    background: transparent;
    padding: 5px;
    border: 1px solid transparent;
    border-bottom: 2px solid #e7e7e7;
    outline: none;
    width: 100%;
  }
  
  .input-container .label {
    position: relative;
    width: 100%; 
    top: 0px;
    transition: 0.5s;
    font-size: 1em;
    color: #999999
  }
  
  .input-container input:focus ~ .label,
  .input-container input:valid ~ .label{
    top: -20px;
    transition: 0.5s;
    font-size: 10px;
  }
  
  .one {
    position: absolute;
    width: 0px;
    height: 2px;
    background: #2CA0B6;
    margin-top: 13px;
    z-index: 1;
    transition: 0.25s;
  }
  
  .input-container input:focus ~ .one {
    width: 100%;
  }

  .btns button {
    font-size: 0.9em;
    padding: 10px 20px;
    margin: 10px 0 5px 0;
}

.go-back {
    font-size: 0.75em;
    display:  flex;
    justify-content: center;
    align-items:  center;
    position:  absolute;
    left: 0;
}

.go-back i {
    margin: 0 5px 0 0;
}

.tag {
    display:  inline-block;
    background: #e7e7e7;
    padding: 4px 7px;
    margin: 5px;
    color: #076b7d;
    cursor: pointer;
}

.tag:hover {
    background: #d9d9d9;
}

.loading-screen {
    position:  absolute;
    top: -43px;
    right: 0;
    bottom:  420px;
    left: 0;
    background: rgba(255,255,255,0.25);
    z-index: 1;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

.loading-screen-content {
    width: 500px;
    height: 300px;
    background:  #FFFFFF;
    /* border-radius: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    position: relative;
}

.loading-screen-content .text {
    white-space: nowrap;
}

.loading-screen-content .animation {
    height: 200px;
    width: 200px;
    position:  absolute;
    border: 10px dashed;
    border-radius: 100%;
}

.loadingAnimations .loading-screen-content .animation {
    animation: rotate 3s 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
        border-color: #000000;
    }
    100% {
        transform: rotate(100000deg);
        border-color: red;
        opacity: 0;
    }
}

.loadingAnimations .loading-screen-content {
    animation: expand 3s ease-out 1;
}

@keyframes expand {
    80% {
        transform: scale(1);
        opacity: 1;
    }
    99% {
        transform: scale(100);
        opacity: 0;
    }
}




.color-primary-0 { color: #4FDE6F }	/* Main Primary color */
.color-primary-1 { color: #A9F5BA }
.color-primary-2 { color: #76EA90 }
.color-primary-3 { color: #2ED152 }
.color-primary-4 { color: #09C332 }

.color-secondary-1-0 { color: #4BB7CB }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #A7E4F0 }
.color-secondary-1-2 { color: #73CDDE }
.color-secondary-1-3 { color: #2CA1B6 }
.color-secondary-1-4 { color: #0B8AA1 }
.color-secondary-1-5 { color: #076b7d }

.color-secondary-2-0 { color: #B9F557 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #DEFCAE }
.color-secondary-2-2 { color: #C9F87D }
.color-secondary-2-3 { color: #A9F135 }
.color-secondary-2-4 { color: #96EC0B }