/* NAV */
nav {
    position:  absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
    display:  flex;
    align-items:  center;
    background: #4FDE70;
}

.home-button {
    position:  absolute;
    left: 10px;
    height: 30px;
    width: 50px;
    background: #FFFFFF;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  1.25em;
    font-weight: 600;
    color: #3abb57;
    cursor: pointer;
}

.home-content-container {
    position:  absolute;
    top: 43px;
    right: 0;
    bottom:  0;
    left: 0;
}

.profile-img {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    width: 30px;
    height: 30px;
    border: 2px solid #e7e7e7;
    border-radius: 100%;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 250ms;
}

.profile-img:hover {
    border: 2px solid #999999;
}

.profile-img img {
    min-width: 100%;
    height: 100%;
}

.menu-btn {
    width: 25px;
    height: 25px;
    display:  flex;
    flex-direction:  column;
    justify-content: space-around;
    align-items: center;
    cursor:  pointer;
}

.menu-btn >div {
    /* position: absolute; */
    width: 5px;
    height: 5px;
    background:  #FFFFFF;
    border-radius: 100%;
    transition: 250ms
}

.menu-btn.menu-open >div:nth-of-type(2) {
    opacity: 0;
}

.menu-btn.menu-open >div:nth-of-type(1) {
    width: 25px;
    border-radius: 0;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
}

.menu-btn.menu-open >div:nth-of-type(3) {
    width: 25px;
    border-radius: 0;
    height: 3px;
    transform: rotate(-45deg);
    position: absolute
}

.menu-slider {
    position:  absolute;
    top: 42px;
    right: -300px;
    bottom: 0;
    width: 300px;
    background:  #2ED152;
    transition: 500ms;
}

.options-container {
    display:  flex;
    justify-content:  center;
}

.home-menu-container {
    position: absolute;
    right: 10px;
    width: 70px;
    height: 30px;
    display:  flex;
    justify-content:  center;
    align-items: center;
}

/* LOG IN CONTAINER */
.home-login-container {
    width: 100%;
    height: 50%;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

.home-user-login {
    display:  flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    min-width: 75%;
    padding: 20px;
}

.inputs {
    width: 100%
}

.btns {
    display:  flex;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
}

.save-creds {
    font-size:  0.75em;
    margin:  10px;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

#saveCreds {
    position:  relative;
}

#saveCreds::after {
    content: '';
    position:  absolute;
    top: -1px;
    width: 12px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    border: none;
    font-size: 1.2em;
    cursor:  pointer;
}
#saveCreds.checked::after {
    content: '\2713';
}