/* NAV */
nav {
    position:  absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 42px;
    display:  flex;
    align-items:  center;
    background: #4FDE70;
    transition: 500ms;
}

.larger-nav {
    height: 75px;
}

.home-button {
    position:  absolute;
    left: 10px;
    height: 30px;
    width: 50px;
    background: #FFFFFF;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  1.25em;
    font-weight: 600;
    color: #3abb57;
    cursor: pointer;
}

.home-content-container {
    position:  absolute;
    top: 43px;
    right: 0;
    bottom:  0;
    left: 0;
    z-index: 1;
}

.profile-img {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    width: 30px;
    height: 30px;
    border: 2px solid #e7e7e7;
    border-radius: 100%;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 250ms;
}

.profile-img:hover {
    border: 2px solid #999999;
}

.profile-img img {
    min-width: 100%;
    height: 100%;
}

.profile-img::after {
    content:  'View Profile';
    position:  absolute;
    width: 42px;
    height: 0px;
    background:  #FFFFFF;
    display:  flex;
    justify-content: center;
    align-items:  center;
    font-size:  .7em;
    text-align:  center;
    border-radius:  5px;
    top: 30px;
    left: -20px;
    overflow: hidden;
    transition: 250ms;
    transition-delay: 400ms;
}

.profile-img:hover::after {
    height: 37px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

.menu-btn {
    width: 25px;
    height: 25px;
    display:  flex;
    flex-direction:  column;
    justify-content: space-around;
    align-items: center;
    cursor:  pointer;
}

.menu-btn >div {
    /* position: absolute; */
    width: 5px;
    height: 5px;
    background:  #FFFFFF;
    border-radius: 100%;
    transition: 250ms
}

.menu-btn.menu-open >div:nth-of-type(2) {
    opacity: 0;
}

.menu-btn.menu-open >div:nth-of-type(1) {
    width: 25px;
    border-radius: 0;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
}

.menu-btn.menu-open >div:nth-of-type(3) {
    width: 25px;
    border-radius: 0;
    height: 3px;
    transform: rotate(-45deg);
    position: absolute
}

.menu-slider {
    position:  absolute;
    top: 42px;
    right: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    background:  #2ED152;
    transition: 500ms;
}

.options-container {
    display:  flex;
    justify-content:  center;
}

.home-menu-container {
    position: absolute;
    right: 10px;
    width: 70px;
    height: 30px;
    display:  flex;
    justify-content:  center;
    align-items: center;
}

/* LOG IN CONTAINER */
.home-login-container {
    width: 100%;
    height: 50%;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    margin-top: 33px;
}

.home-user-login {
    display:  flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    min-width: 75%;
    padding: 20px;
}

.inputs {
    width: 100%
}

.btns {
    display:  flex;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
}

.save-creds {
    font-size:  0.75em;
    margin:  10px;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

#saveCreds {
    position:  relative;
}

#saveCreds::after {
    content: '';
    position:  absolute;
    top: -1px;
    width: 12px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    border: none;
    font-size: 1.2em;
    cursor:  pointer;
}
#saveCreds.checked::after {
    content: '\2713';
}

.create-profile-modal {
    position:  absolute;
    top: 0;
    right: 0;
    bottom:  0;
    left: 0;
    background: rgba(0,0,0,0.25);
    display:  flex;
    justify-content: center;
    align-items:  center;
    z-index: 0;
    opacity: 0;
}

.create-modal-shown {
    opacity: 1;
    z-index: 1;
}

.create-profile-content {
    position: relative;
    background:  #FFFFFF;
    z-index:  2;
    width: 75%;
    /* height: 75%; */
    max-height: 98%;
    padding: 50px;
    overflow: auto;
}

.create-profile-content .input-container .label {
    font-size: 0.8em;
}

.submit {
    display:  flex;
    justify-content: center;
    margin-top: 25px;
}

.submit .submit-btn {
    font-size:  1.1em;
    padding: 7px 50px;
}

.close-modal {
    position:  absolute;
    top: 5px;
    right: 5px;
}

.create-header {
    position:  absolute;
    top: 12px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.25em;
    font-weight:  600;
    color: #666;
}

.create-subheader {
    padding-top:  10px;
    margin-left: -10px;
}

.note {
    font-size:  0.8em;
    color:  #666;
}

.picture-select {
    position:  relative;
    padding-left: 49px;
    padding-top: 10px;
    outline: none;
}

.picture-select input {
    outline: none;
}

.picture-select label {
    position:  absolute;
    left: 0;
    top: 7px;
    background: #FFFFFF;
    border: 1px solid #e7e7e7;
    border-radius:  10px;
    padding: 5px 17px;
    cursor:  pointer;
    font-size: 0.8em;
    color: #999
}

.picture-select label:hover {
    background: #f2f2f2
}


/* CUSTON INPUT STYLING */
.name-box,
.contact-box,
.city-box,
.password-box {
    display:  flex;
}

.name-box >div,
.contact-box >div,
.city-box >div,
.password-box >div {
    flex: 1;
}

.name-box >div:first-of-type,
.contact-box >div:first-of-type,
.city-box >div:first-of-type,
.password-box >div:first-of-type {
    padding: 0 50px 0 0
}

.name-box >div:first-of-type input,
.contact-box >div:first-of-type input,
.city-box >div:first-of-type input,
.password-box >div:first-of-type input {
    width: calc(100% - 50px)
}

.name-box >div:first-of-type input:focus ~ .one,
.contact-box >div:first-of-type input:focus ~ .one,
.city-box >div:first-of-type input:focus ~ .one,
.password-box >div:first-of-type input:focus ~ .one {
    width: calc(100% - 50px)
}