<div ng-controller="myHomeCtrl as myCtrl">
    <nav>
        <div class="home-button" onclick="location.reload()">
            <span>A</span>
            <span>F</span>
            <span>i</span>
            <span>1</span>
        </div>
        <div class="home-menu-container">
            <div class="profile-img">
                <img id="loggedInUserImg">
            </div>
            <div class="menu-btn" ng-click="toggleMenu()" ng-class="{'menu-open': menuOpen}">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </nav>
    <div class="home-content-container">
        <!-- Log In Content -->
        <div ng-show="!loggedIn" class="home-login-container">
            <div class="home-user-login">
                <div class="inputs">
                    <div class="input-container">
                        <input type="text" required id="logInEmail">
                        <span class="one"></span>
                        <label class="label">Email</label>
                    </div>
                    <div class="input-container">
                        <input type="password" required id="logInPassword">
                        <span class="one"></span>
                        <label class="label">Password</label>
                    </div>
                </div>
                <div class="btns">
                    <button class="secondary" ng-click="logInFromInput()">Log In</button>
                    <button class="primary">Create Profile</button>
                </div>
                <div class="save-creds">
                    <input change="toggleCheckmark()" id="saveCreds" type="checkbox">
                    <label for="saveCreds">Save Password</label>
                </div>
                <div class="TEST TEST">
                </div>
            </div>
        </div>
        <!-- Modules -->
        <div ng-if="selectedApp === 'landing' && loggedIn" my-landing></div>
        <div ng-if="selectedApp === 'networking'" my-networking></div>
        <div ng-if="selectedApp === 'clock'" my-watch></div>
        <div ng-if="selectedApp === 'todos'" my-todos></div>
        <div ng-if="selectedApp === 'stocks'" my-stocks></div>
        <div ng-if="selectedApp === 'weather'" my-weather></div>
    </div>
    <div class="menu-slider" id="menuSlider">
        <div class="options-container">
            <div class="option">
                <button ng-click="signOut()">Sign Out</button>
            </div>
        </div>
    </div>
</div>