<div class="networking-container"
     ng-controller="myNetworkingCtrl as myCtrl">
        <button ng-click="goBack(this.data-module)"
                class="tertiary go-back"
                id="goBack"></button>
        <div class="network-content-container">
                <div class="feed-users">
                        <div class="feed">
                                <div class="head">Feed</div>
                                <div class="feed-content-container">
                                        <div class="network-feed-new-post">
                                                <div class="input-container">
                                                        <input type="text"
                                                               required
                                                               id="newPost">
                                                        <span class="one"></span>
                                                        <label class="label">What's on your mind?</label>
                                                </div>
                                                <button class="primary"
                                                        ng-click="addNewPost()">Post</button>
                                        </div>
                                        <div class="network-feed-post"
                                             ng-repeat="post in posts">
                                                <div class="img">
                                                        <img src="{{post.created_by.imgUrl}}">
                                                </div>
                                                <div class="header">
                                                        <div class="name">{{post.created_by.first_name}} {{post.created_by.last_name}}</div>
                                                        <div class="date">{{post.date_string}}</div>
                                                </div>
                                                <div class="content">{{post.content | limitTo: 300}}<span ng-if="post.content.length > 200">...</span></div>
                                        </div>
                                </div>
                        </div>
                        <div class="users">
                                <div class="head">Users</div>
                                <div class="users-content-container">
                                        <div class="network-user"
                                             ng-repeat="user in users">
                                                <div class="img"
                                                     ng-click="openProfile(user.unique_ID)"
                                                     id="{{user.unique_ID}}">
                                                        <img src="{{user.imgUrl}}">
                                                </div>
                                                <div class="text">
                                                        <div class="name">{{user.first_name}} {{user.last_name}}</div>
                                                        <div class="about">{{user.about}}</div>
                                                        <button class="add-connections"
                                                                ng-click="addConnections(user.unique_ID)">
                                                                <i class="fa fa-address-card"></i> Connect</button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>