<div class="networking-container" ng-controller="myNetworkingCtrl as myCtrl">
        <button ng-click="goBack(this.data-module)" class="tertiary go-back" id="goBack"></button>
        <div class="network-content-container">
                <div class="feed-users">
                        <div class="feed">
                                <div>Feed</div>
                                <div class="network-feed-post" ng-repeat="post in posts">
                                        <div class="img">
                                                <img src="{{post.created_by.imgUrl}}">
                                        </div>
                                        <div class="header">
                                                <div class="name">{{post.created_by.first_name}} {{post.created_by.last_name}}</div>
                                                <div class="date">{{post.date_string}}</div>
                                        </div>
                                        <div class="content">{{post.content}}</div>
                                </div>
                        </div>
                        <div class="users">
                                <div>Users</div>
                                <div class="network-user" ng-repeat="user in users">
                                        <div class="img" ng-click="openProfile(user.unique_ID)" id="{{user.unique_ID}}">
                                                <img src="{{user.imgUrl}}">
                                        </div>
                                        <div class="text">
                                                <div class="name">{{user.first_name}} {{user.last_name}}</div>
                                                <div class="about">{{user.about}}</div>
                                                <button class="add-connections" ng-click="addConnections(user.unique_ID)"><i class="fa fa-address-card"></i> Connect</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>