.landing-container {
    position:  absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:  flex;
    justify-content: center;
    align-items:  center;
}

.modules-container {
    display: flex;
    flex-wrap:  wrap;
    justify-content:  flex-start;
    align-items:  center;
    width: 85%;
}

.module {
    width: calc(25% - 40px);
    height: 300px;
    margin: 20px;
    border: 1px solid #e1e1e1;
    display:  flex;
    flex-direction: column;
    align-items: center;
    cursor:  pointer;
    position:  relative;
    overflow:  hidden;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.module:hover {
    transform: scale(1.05);
} 

.module .text {
    font-size:  1.2em;
    padding: 20px 0 0 0;
}

.module .about {
    font-size: 0.725em;
    padding: 5px 20px 20px 20px
}

.module .icon {
    position: absolute;
    font-size: 8em;
    bottom: 0.35em
}

.module.Profile .icon {
    color: #336699
}
.module.Networking .icon {
    color: #e86a12;
}
.module.Stocks .icon {
    color: #006a00
}
.module.Weather .icon {
    color: #ffbb00
}
.module.Clock .icon {
    color: #333333
}
.module.Todos .icon {
    color: #aa2929
}